﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <input type="text" class="form-control" name="Name" placeholder="Name" /><br />
    <input type="text" class="form-control" name="Price" placeholder="Price" /><br />
    <input type="number" class="form-control" name="QTy" placeholder="QTy" /><br />
    <textarea id="feedback" name="Description" rows="5" cols="40" placeholder="Enter your feedback here..."></textarea><br>
    <input type="submit" value="Create" class="btn btn-primary" />

</form>