
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3> Are you want to Delete  @Model.Name</h3>
<form  method="post">
    <input type="submit" value="yes" class="btn btn-primary" name="click"/>
    <input type="submit" value="no" class="btn btn-primary"  name="click"/>
</form>


